* {
  box-sizing: border-box;
  /* align-items: center; */
  
}

body {
  font-family: 'Roboto', sans-serif;
}

html {
  background-image:url("./images/baltimore_image.jpg");
  
  /* Full height */
  height: 100%; 

  /* Center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  resize: both; 
  overflow: auto;
} 

label {
  display: inline-block;
  margin: 5px;
}

.quizContainer {
  background: rgba(255,255,255, 0.95);
  border-radius: 25px;
  padding: 15px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
}

fieldset {
  border: 0px;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
}

.correctAnswer {
  color: #798C27;
  font-weight: bolder;
}

.wrongAnswer {
  color: #66313B;
  font-weight: bolder;
}

.tracker {
  color: #6F838C;
  font-size: 14px;
}

button {
  border-radius: 5px;
  margin: 10px;
}